/* Copyright 2016 Jourdan Parham */

html{
    background-image:url("../images/bats.gif");
    background-repeat: repeat;
   ;
}

body{
    font-family: "Arial", Helvetica, sans-serif;
    width: 800px;
    background-color: white;
    box-shadow: 10px 10px 10px 10px #000000;
    margin: auto;

}

header img{
    float: left;
}

header nav{
    background-color: black;
    height: 30px;
}

header nav ul{
    
}

header nav ul li{
    list-style-type: none;
    width: 150px;
    float: left;
    
}

header nav ul li a{
    text-decoration: none;
    color: white;
    line-height: 30px;
    text-align: center;
    display: block;
}
header nav ul li a:visited{
    color: orange;
}

section nav ul{
    margin: 0;
    padding: 10px;
}

section nav ul li{
    list-style-type: none;
    width: 140px;
    background-color: orange;
    margin: 3px;
    border: 2px solid black;
}

section nav ul li a{
    color: black;
    display: block;
    font-weight: bold;
    text-decoration: none;
    line-height: 30px;
}


section nav ul li a:hover{
    color: green;
}

section img{
    margin-left: 160px;
}

header{
    text-indent: 25px; 
    background: linear-gradient(45deg, white, orange, black);
    border-bottom: solid black;
}

h2{
    margin-left: 160px;    
}

p{
    margin-left: 160px;
}

main h3{
    text-indent: 160px;
    
}

section ul{
    float: left;
    position: absolute;
    top: 160px;
    width: 160px;   
}

div a{
    color: orange;
    font-weight: bold;
    margin-left: 160px;   
}

h2::first-letter{
    font-size: 200%;   
}


 



footer{
    border-top: solid black;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
    font-size: 10px;
    background-color: orange;
    background: linear-gradient(45deg, black, orange, white);
    
}



