body{
    font-family: "Arial", Helvetica, sans-serif;
}

img{
        float: left;
    }
    
header{
    text-indent: 25px; 
}

h1{
    font-style: italic;
    color: orange;
    text-shadow: 2px 2px #000000
}

h2::first-letter{
    font-size: 200%;
}

ul{
    font-weight: bold;
    
    color: orange;
    
}
li:hover{
    color: green;
}

footer{
    text-align: center;
    font-size: 10px
}


    
